<!DOCTYPE html>
<head>

</head>
<body>
    <table>
        <thead>
          <tr>
            <th>Warna</th>
            <th>Kode</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td style="background-color:#ffff00"></td>
            <td>#ffff00</td>
          </tr>
          <tr>
            <td>Oranye</td>
            <td>#ff7f00</td>
          </tr>
          <tr>
            <td>Merah</td>
            <td>#ff0000</td>
          </tr>
        </tbody>
      </table>
      

</body>